div#content {
margin:2em;
}

h1 {
margin-bottom:1em;
}

div.section {
background:#eee;
float:left;
padding:0 1em 1em 1em;
margin:1em 1em 1em 0;
border:1px solid #ccc;
line-height:1.5;
}

div.section h2 {
margin-top:1em;
margin-bottom:0.5em;
}

div.combined ul {
list-style:none;
}

span.fn {
clear:both;
display:block;
}
