#content {
width:70%;
margin:auto;
padding:2em 0;
}

form {
background:#eee;
border:1px solid #ccc;
padding:1em 2em;
}

body fieldset {
padding:0;
border:0;
}

legend {
text-indent:-3000px;
}